td {
  height:  115px;
  width:  118px;
  text-align:  center;
  vertical-align:  middle;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  70px;
  cursor: pointer;
}

table {
  background-image: url('background.jpg');
  width: 395px;
  border-collapse: collapse;
  display:block;
  margin: 10px auto 0 auto;
  padding: 27px 25px;
  top: 50px;
}

img{
  height:80px;
  width:80px;
  margin:auto;
  display:block;
}

.endgame {
  display: none;
  width:  200px;
  top: 120px;
  background-color: rgba(205, 133, 63, 0.8);
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}

.selectMode{
  display:none;
  width: 320px;
  top: 250px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -160px;
  padding:20px 10px;
  text-align: center;
  border-radius: 5px;
  color: yellow;
  font-size: 2em; 
}

.selectMode button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  20px;
  width: 200px;
  background-color:#a0a0a0;
  margin:10px;
}


.replay-btn{
    margin: 10px auto 0 auto;
    display: block !important;
}

h2{
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  40px;
  text-align: center;
}
 
.player-1-text{
  text-align: center;
  display:none;
}

.player-2-text{
  text-align: center;
  display:none;
}

.player-1-click{
  
}

.player-1-clicked{
  border:2px solid;
}

.player-1-go{
  background-color: #66ff66;
  opacity: 0.8;
}

.player-2-clicked{
  border:2px solid;
}

.player-2-go{
  background-color: #1ab2ff;
  opacity: 0.8;
}

[data-player="a"] > img{
  background-color: #66ff66;
  opacity: 0.9;
}

[data-player="b"] > img{
  background-color: #1ab2ff;
  opacity: 0.9;
}

p {
  font-size:20px;
  font-weight:800;
}

.player-1-text{
  color: #00ff55;
}

.player-2-text{
  color: #33ccff;
}

.gameover-text{
  display:none;
  text-align:center;
  font-size:50px;
  font-family:  "Comic Sans MS", cursive, sans-serif;
}